{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>    
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-auto" > <!-- linked to main image -->
                <h1 class="display-4 logo-font">
                   Bookings Page
                </h1> <!-- change text to desired style -->
                <div class="">
                   
                </div>
            </div>
        </div>
    </div>


{% endblock %}